<form [formGroup]="loginForm" (ngSubmit)="submit()">
    
<!-- input za username -->
      <mat-form-field>
        <mat-label>Enter your Username</mat-label>
        <input matInput placeholder="AI_Pic_Generator" type="text" formControlName="userName"/>
        @if (!loginForm.get("userName")?.valid) {
          <mat-error>Enter valid e-mail</mat-error>
        }
      </mat-form-field>


<!-- Input za password -->
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput placeholder="Pas$wOrd" type="password" formControlName="password"/>
        @if (!loginForm.get("password")?.valid) {
          <mat-error>Enter valid password</mat-error>
        }
      </mat-form-field>

      <button mat-raised-button>Login</button>

      <p>
        You don't have an account? Click <a routerLink="/register">here</a>!</p>
</form>